<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="google-site-verification" content="WVUg2ict7uN6itRG0r3MQcBONoFY_UNavgHWaVYZ3cQ" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="author" content="Idrinth Thalui">
        <link rel="author" href="https://plus.google.com/108250370757335120864" />
        <link rel="alternate" type="application/rss+xml" title="Updates RSS-Feed | Idrinth's Tools" href="###baseURL###/feed.xml">
        ###canonical###
        <title>###pagetitle###</title>
        <base href="###baseURL###" target="_self" />
        ###head-js###
        ###styles###
        ###description###
        <link rel="stylesheet" href="small.css" type="text/css"/>
        <link rel="stylesheet" href="socialshareprivacy.css" type="text/css"/>
        <link rel="stylesheet" href="print.css" type="text/css" media="print" />
    </head>
    <body>
        <div id="skip-links">
            <ul>
                <li><a href="#nav">Navigation</a></li>
                <li><a href="#content">Content Area</a></li>
                <li><a href="#sidebar">Aside</a></li>
                <li><a href="#footer">Page Bottom</a></li>
            </ul>
        </div>
        <div id="header">
            <a href="###baseURL###" title="Back to the Homepage" target="_self"><img class="header-logo" src="###baseURL###/logo.png" width="57" height="100" alt="Idrinth's Tools Logo"/></a>
            <p class="large"><strong>Idrinth's Tools</strong></p>
            <p>for Warhammer Online: Age of Reckoning</p>
            <div id="following">
                <a class="twitter" target="_blank" rel="author" href="https://twitter.com/Idrinth" title="Follow me on Twitter">
                    Follow me on Twitter
                </a>
                <a class="google" target="_blank" rel="author" href="https://plus.google.com/108250370757335120864" title="Follow me on Google+">
                    Follow me on Google+
                </a>
                <a class="facebook" target="_blank" rel="author" href="http://www.facebook.com/bjorn.buttner.71" title="Follow me on Facebook">
                    Follow me on Facebook
                </a>
                <a class="blog" target="_blank" rel="author"  href="https://idrinth.de" title="Read my Blog">
                    Read my Blog
                </a>
            </div>
        </div>
        <div id="nav">
            <ul>
                <li><a href="###baseURL###/" title="Back to the Homepage">Home</a></li>
                <li><a href="###baseURL###/tank/" title="calculates the relevant values to tank NPCs in Warhammer Online">Tank Calculator</a></li>
                <li><a href="###baseURL###/url-converter/" title="converts URLs of the old tanking calculator to the ones used by the new tanking calculator">URL-Converter</a></li>
                <li><a href="###baseURL###/signature/" title="A signature generator for the private Warhammer Online server at http://www.returnofreckoning.com">Signature Generator</a></li>
                <li><a href="###baseURL###/updates/" title="A List of previous Updates">Updates</a></li>
                <li><a href="###baseURL###/imprint/" title="The 'About Us'-page">Imprint</a></li>
                <li><a href="###baseURL###/account/" title="###ACCOUNT###">###ACCOUNT###</a></li>
                <li><a href="###baseURL###/addons/" title="Upload and Download UI-Addons">Addons</a></li>
                <li><a href="https://github.com/Idrinth/WARAddonClient" title="A client to download and manage addons">Addon-Client</a></li>
            </ul>
        </div>
        <main>
            <div id="content">
                <div class="wrapper">
                    <h1>###title###</h1>
                </div>
                ###content###
            </div>
            <div id="sidebar">
                ###sidebar###
                <h2>Content Rights</h2>
                <p>© 2011 Games Workshop Limited. All Rights Reserved. Games Workshop, Warhammer, Warhammer Online, Age of Reckoning, and all associated marks, names, races, race insignia, characters, vehicles, locations, units, illustrations and images from the Warhammer world are either ®, ™ and/or © Games Workshop Ltd 2000-2008. Used under license by Electronic Arts Inc. All Rights Reserved. EA, the EA logo, Mythic Entertainment, Public Quest and Realm vs. Realm are trademarks or registered trademarks of Electronic Arts Inc. in the U.S. and/or other countries. All other trademarks are the property of their respective owners.</p>
            </div>
        </main>
        <div class="social" id="social"></div>
        <div id="footer">
            <ul>
                ###version###
            </ul>
        </div>
        ###foot-js###
        <script type="text/javascript" src="socialshareprivacy.js"></script>
        <script src="cookie-directive.js" type="text/javascript"></script>
        <script src="sorttable.js" type="text/javascript"></script>
    </body>
</html>
