@charset "UTF-8";
/*
Document : layout.css
Created on : 04.08.2012, 19:56:14
Author : Björn "Idrinth" Büttner
eMail : eldrim@gmx.de
Description:
This stylesheet creates the basic layout for all pages of tools.idrinth.de
*/
:root {
  --layout-spacing: 20px;
  --content-spacing: 10px;
  
  --font-size-small: 0.7em;
}

body {
 font-size: 13px;
 font-family: Arial,sans-serif;
}
h1 {
 font-size: 1.5em;
}
h2 {
 font-size: 1.35em;
}
h2 {
 font-size: 1.2em;
}
div,
p,
label,
textarea{
 display: block;
 height: auto;
 overflow: hidden;
 padding: 0;
 margin: 0;
}
textarea {
 border: 1px solid #cccccc;
 border-radius: 2px 2px 2px 2px;
 width: 90%;
}
#inner-body-wrapper {
 max-width: 1200px;
 min-width: 200px;
 width:100%;
 margin: 10px auto 10px auto;
}
.cols-2 .floating-col {
 width: 45%;
 padding: 0 2.5%;
 float:left
}
.cols-3 .floating-col {
 width: 30%;
 padding: 0 1.5%;
 float:left
}
.cols-4 .floating-col {
 width: 22%;
 padding: 0 1.5%;
 float:left
}
.wrapper input,
.wrapper select{
 width: 35%;
 margin: 0 3%;
 float: left;
 -webkit-transition-duration: 0.75s;
 -webkit-transition-property: background-color,color;
 -moz-transition-duration: 0.75s;
 -moz-transition-property: background-color,color;
 -ms-transition-duration: 0.75s;
 -ms-transition-property: background-color,color;
 -o-transition-duration: 0.75s;
 -o-transition-property: background-color,color;
 transition-duration: 0.75s;
 transition-property: background-color,color;
}
.wrapper input:focus,
.wrapper select:focus {
 background-color: #2C2A3E;
 color: #FFFFFF;
 font-weight: 700;
}
.wrapper label {
 width: 50%;
 float: left;
}
.wrapper .unit {
 width: 5%;
 float: right;
}
.wrapper .output .label {
 float: left;
 display:block;
 width: 45%;
}
.wrapper .output .comparison {
 width: 55%;
 float: right;
 text-align: right;
}
.wrapper .output .comparison span{
 width: 60%;
 float: left;
}
.wrapper .output .comparison span.unit{
 width: 20%;
}
.wrapper .output .comparison .compare{
 width: 20%;
 float: right;
}
.wrapper button {
 width: 35%;
 margin: 0 3%;
}
/**
* Design
**/
body {
 margin:0;
 padding:0;
 background-color: #999999;
 background-image: -webkit-repeating-linear-gradient(right bottom, rgba(255,0,0,0.01) 0px, rgba(255,0,0,0) 5px),-webkit-repeating-linear-gradient(left top, rgba(255,0,0,0.01) 0px, rgba(255,0,0,0) 5px);
 background-image: -moz-repeating-linear-gradient(right bottom, rgba(255,0,0,0.01) 0px, rgba(255,0,0,0) 5px),-moz-repeating-linear-gradient(left top, rgba(255,0,0,0.01) 0px, rgba(255,0,0,0) 5px);
 background-image: -ms-repeating-linear-gradient(right bottom, rgba(255,0,0,0.01) 0px, rgba(255,0,0,0) 5px),-ms-repeating-linear-gradient(left top, rgba(255,0,0,0.01) 0px, rgba(255,0,0,0) 5px);
 background-image: -o-repeating-linear-gradient(right bottom, rgba(255,0,0,0.01) 0px, rgba(255,0,0,0) 5px),-o-repeating-linear-gradient(left top, rgba(255,0,0,0.01) 0px, rgba(255,0,0,0) 5px);
 background-image: repeating-linear-gradient(right bottom, rgba(255,0,0,0.01) 0px, rgba(255,0,0,0) 5px),repeating-linear-gradient(left top, rgba(255,0,0,0.01) 0px, rgba(255,0,0,0) 5px);
}
#skip-links {
 display:none;
}
#header-wrapper{
 padding: 10px 5px;
 background-color:#111111;
 color:#ffffff;
 border-radius: 3px 3px 0px 0px;
 background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.075),rgba(255,255,255,0)),-webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.075));
 background-image: -moz-linear-gradient(top,rgba(255,255,255,0.075),rgba(255,255,255,0)),-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.075));
 background-image: -ms-linear-gradient(top,rgba(255,255,255,0.075),rgba(255,255,255,0)),-ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.075));
 background-image: -o-linear-gradient(top,rgba(255,255,255,0.075),rgba(255,255,255,0)),-o-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.075));
 background-image: linear-gradient(top,rgba(255,255,255,0.075),rgba(255,255,255,0)),linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.075))
}
#center-area {
 background-color:#ffffff;
 color:#111111
}
#content-wrapper {
 width:80%;
 float:left
}
#sidebar-wrapper {
 width: 20%;
 float:right
}
#sidebar {
 padding: var(--layout-spacing);
 font-size:90%;
}
#content {
 padding: var(--layout-spacing);
 border-right: #111111;
 position: relative;
}

#content > form:first-of-type {
  position: absolute;
  top: calc(var(--layout-spacing) + var(--content-spacing));
  right: var(--layout-spacing);
}

#content > ul:first-of-type {
  margin-bottom: var(--content-spacing) !important;;
}

#nav-wrapper,
#skip-links {
 padding: 10px 5px;
 background-color:#111111;
 color:#ffffff;
 border-top:#ffffff 1px solid;
}
#nav ul,
#skip-links ul {
 margin: 0;
 padding: 0;
}
#nav ul li {
 display:inline;
 padding: 0 2px;
}
#nav ul li a,
#skip-links ul li a {
 color: #ffffff;
 border: #111111 solid 1px;
 border-radius: 2px 2px 2px 2px;
 text-decoration: none;
 padding: 1px 2px 1px 12px;
 -o-transition-duration: 0.75s;
 -o-transition-property: background-color,color;
 -webkit-transition-duration: 0.75s;
 -webkit-transition-property: background-color,color;
 -ms-transition-duration: 0.75s;
 -ms-transition-property: background-color,color;
 -moz-transition-duration: 0.75s;
 -moz-transition-property: background-color,color;
 transition-duration: 0.75s;
 transition-property: background-color,color;
}
#nav ul li a:active,
#nav ul li a:hover,
#nav ul li a:focus,
#skip-links ul li a:active,
#skip-links ul li a:hover,
#skip-links ul li a:focus {
 color: #ee0000;
 background-color: #222222;
 background-image:url("logo.png?20x20");
 background-repeat:no-repeat;
 background-size: auto 100%;
 background-position:0 0;
}
#footer-wrapper {
 background-color:#111111;
 color: #ffffff;
 text-align: right;
 background-image: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.075)),-webkit-linear-gradient(left,rgba(255,255,255,0.075),rgba(255,255,255,0));
 background-image: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.075)),-moz-linear-gradient(left,rgba(255,255,255,0.075),rgba(255,255,255,0));
 background-image: -ms-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.075)),-ms-linear-gradient(left,rgba(255,255,255,0.075),rgba(255,255,255,0));
 background-image: -o-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.075)),-o-linear-gradient(left,rgba(255,255,255,0.075),rgba(255,255,255,0));
 background-image: linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0.075)),linear-gradient(left,rgba(255,255,255,0.075),rgba(255,255,255,0));
}
#header img {
 max-width: 20%;
 height:auto;
 float: right;
}
#header-content{
 max-width: 80%;
 float: left;
 font-size: 110%;
 font-style: italic;
}
.large {
 font-size: 125%;
}
.wrapper .wrapper {
 padding-bottom: 0.25em;
}
#footer ul,
#footer ul li {
 display:block;
 height:auto;
 width:99%;
 margin:0;
 padding:0 0.5%;
}
h1 {
 width:auto;
 float:left
}
.link-to-button {
 margin:1em;
 float: right;
}
.link-to-button, .link-to-button *{
 display:block;
 color: #FFFFFF;
 font-size: 75%;
 font-weight: 700;
}
.link-to-button *{
 -webkit-transition-duration: 0.75s;
 -webkit-transition-property: background-color;
 -moz-transition-duration: 0.75s;
 -moz-transition-property: background-color;
 -ms-transition-duration: 0.75s;
 -ms-transition-property: background-color;
 -o-transition-duration: 0.75s;
 -o-transition-property: background-color;
 transition-duration: 0.75s;
 transition-property: background-color;
 border-radius: 3px 3px 3px 3px;
 padding: 5px;
 background-color: #000000;
 background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.075),rgba(255,255,255,0)),-webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.075));
 background-image: -moz-linear-gradient(top,rgba(255,255,255,0.075),rgba(255,255,255,0)),-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.075));
 background-image: -ms-linear-gradient(top,rgba(255,255,255,0.075),rgba(255,255,255,0)),-ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.075));
 background-image: -o-linear-gradient(top,rgba(255,255,255,0.075),rgba(255,255,255,0)),-o-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.075));
 background-image: linear-gradient(top,rgba(255,255,255,0.075),rgba(255,255,255,0)),linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.075));
}
.link-to-button *:hover,
.link-to-button *:focus,
.link-to-button *:active {
 background-color: #333333;
}
#following a {
 display:block;
 float:left;
 color:transparent;
 width:28px;
 height:28px;
 background-image:url("link-icons.png");
}
#following .twitter {
 background-position:0 28px;
}
#following .google {
 background-position:0 56px;
}
#following .facebook {
 background-position:0 84px;
}
.onHover {
 display:none;
}
*:hover > .onHover {
 display:block;
 position:absolute;
 width:250px;
 background-color:#ffffff;
 border-radius:2px;
 border:1px solid #000000;
 text-align:left;
}
.description {
 background:#eee;
 border-radius:2px;
 padding: var(--content-spacing);
}
.description > footer{
 font-size: 90%;
 font-style:italic;
 border-top: 1px solid #ccc;
}
.comment-user {
 border-bottom: 1px solid #ddd;
 overflow:hidden;
}
.comment-user > * {
 width: auto;
 float: left;
 padding: 3px;
}
.comment-user > a {
 float: right;
}
#comments > :nth-child(2n) {
 background:#eee;
}
#comments > * {
 margin-top: 2px;
 margin-bottom: 2px;
 border:1px solid #ddd;
 border-radius: 2px;
}
#comments > form > fieldset > legend {
 cursor: pointer;
}
#comments > form > fieldset.active > legend {
 cursor: default;
}
#comments > form > fieldset > div {
 display:none;
}
#comments > form > fieldset.active > div {
 display:block;
}
#comments p,
.description p {
 padding: 0.25em 0
}
.tab-menu,.tab-menu > li {
 padding:0;
 display:block;
}
.tab-menu {
 margin:0;
 overflow:hidden;
 width:100%;
}
.tab-menu > li {
 margin-right:3px;
 padding: var(--content-spacing);
 border-radius: 3px 3px 0px 0px;
 background:#eee;
 float:left;
 width:auto;
 cursor:pointer;
}
.tab-menu > li.active {
 color:#fff;
 background:#000;
}
.tab {
 display:none;
 border:1px solid #ccc;
 box-shadow: 3px 3px 3px;
 padding: var(--content-spacing);
 border-radius: 3px;
 position: relative;
}
.tab > a:first-of-type {
  position: absolute;
  right: var(--content-spacing);
  top: var(--content-spacing);
  font-size: var(--font-size-small);
}
.tab > p:first-of-type {
  margin-bottom: var(--content-spacing);
  margin-right: calc((var(--content-spacing) * 2) + 16px);
}
tr:nth-of-type(2n) {
 background: rgba(0,0,0,0.05)
}
button, input[type=button] {
  background: #189933;
  padding: calc(var(--content-spacing) / 2) var(--content-spacing);
  border-radius: 5px;
  border: 1px solid #999;
  color: #FFF;
  cursor: pointer;
}
button:hover, input[type=button]:hover {
  background: #1BAB3D;
}
