@charset "UTF-8"
/*
Document : print.css
Created on : 04.08.2012, 19:56:14
Author : Björn "Idrinth" Büttner
eMail : eldrim@gmx.de
Description:
This stylesheet a print layout for all pages of tools.idrinth.de
*/
html,
body {
    background:#ffffff;
}
h1,
h2 {
    page-break-after:avoid;
    padding-top:0.2em;
    margin:0;
    padding-bottom: 0.4em;
}
h2 {
    padding-top:0.75em;
}
input {
    border:none;
    color:#000000;
}
#inner-body-wrapper{
    padding:5px 0;
    min-width:100%;
    max-width:100%;
    width:100%;
    background:#ffffff;
}
#following,
#social,
button,
input[type=button],
input[type=submit],
.link-to-button,
#nav-wrapper,
#footer-wrapper,
#side-column {
    display:none
}
#header-wrapper,
#center-area {
    color:#000000;
    background:#ffffff;
    padding:0;
    margin:0;
    width:100%;
    page-break-after:avoid;
}
#header {
    padding: 0 2.5%;
    border-bottom:1px solid #000000;
    background:#ffffff;
}
#header-content,
#header-content p {
    display:inline;
}
#header img{
    float:left;
    height:2em;
    width:auto;
}
#content-wrapper,
#sidebar-wrapper {
    padding: 0 2.5%;
    float:none;
    width:95%;
    background:#ffffff;
}
#sidebar {
    font-size:75%;
}
#content div.floating-col {
    width:45%;
    float:left;
    padding: 0 2.5%;
    margin:0;
}
#content div.floating-col .wrapper {
    border-bottom: 1px #cccccc solid;
    margin-bottom: 2px;
    margin-top:2px;
}